/node_modules
/public/assets
/public/builds
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
*.db

/test-results/
/playwright-report/
/playwright/.cache/
